body {
    background-image: url(../Imagens-T/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;

    font-size: 18px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;

}

h1 {
    color: blueviolet;
}

.inline-text {
    display: inline-block;
    color: chartreuse;
    text-align: center;
}

.inline-text2 {
    display: block;
    text-align: center;

}


.titulo {
    display: inline-block;
    padding-right: 200px; 
    
    color: rgb(248, 12, 248);
    

}

h3 {
    color: rgb(214, 122, 217);

}

h4 {
    color: #fdfcfc;

}

.form {
    color: rgb(248, 12, 248);
    

}



ul {
    color: #fdfcfc;
    font-size: 20px;
}


a {
    color: rgb(241, 0, 0);
    font-size: 18px;
}

li {

    margin: 20px;



    padding: 2px;
}


    


.info-contas {
    color: blueviolet;
}

label {
    color: #fdfcfc;
    align-tracks: 20px;
}

.altura-linha {
    line-height: 1px;
    
    

    
}

.sem-text-decoration{
    text-decoration: none;
    color: crimson;
}