body {
    background-image: url(../Imagens-T/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace;

    font-size: 18px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;

}

h1 {
    color: blueviolet;
}

p {
    display: inline-block;
    color: chartreuse;
    padding-right: 50px;
}

.titulo {
    display: inline-block;
    padding-right: 200px; 
    
    color: rgb(248, 12, 248);
    

}

h3 {
    color: rgb(214, 122, 217);

}




ul {
    color: #fdfcfc;
    font-size: 20px;
}


a {
    color: rgb(241, 0, 0);
    font-size: 18px;
}

li {

    margin: 20px;



    padding: 2px;
}

img {
    inline-size: auto;
}

.info-contas {
    color: blueviolet;
}